@model IEnumerable<firma_budowlana.Models.dane_personalne>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nr_telefonu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kierownicy.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.klienci.nazwa_firmy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pracownicy.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nr_telefonu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kierownicy.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.klienci.nazwa_firmy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pracownicy.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
