@model firma_budowlana.Models.pracownicy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>pracownicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wynagrodzenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wynagrodzenie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dane_personalne.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dane_personalne.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupy_robocze.specjalizacja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupy_robocze.specjalizacja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maszyny.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maszyny.nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
