@model firma_budowlana.Models.kierownicy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>kierownicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wynagrodzenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wynagrodzenie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dane_personalne.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dane_personalne.imie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
