@model IEnumerable<firma_budowlana.Models.klienci>

<div>
    <div class="row">
        <h2 class="col-12 table-header">Tabela : <span class="table-name">klienci</span></h2>
    </div>

    <div class="row">
        <hr class="my-2 col-8 table-line">
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-dark table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        nr
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dane_personalne.imie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dane_personalne.nazwisko)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dane_personalne.pesel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dane_personalne.nr_telefonu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dane_personalne.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nazwa_firmy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nip)
                    </th>
                    <th class="table-operation">
                        Edytuj
                    </th>
                    <th class="table-operation">
                        Usuń
                    </th>
                </tr>
            </thead>
            @{ int row = 0; }

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @(row += 1)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dane_personalne.imie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dane_personalne.nazwisko)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dane_personalne.pesel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dane_personalne.nr_telefonu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dane_personalne.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nazwa_firmy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nip)
                        </td>
                        <td class="table-operation">
                            <a href="Customers/Edit/@item.id">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td class="table-operation">
                            <a href="Customers/Delete/@item.id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary btn-lg btn-block" href="Customers/Create">Dodaj klienta</a>
</div>