@model firma_budowlana.Models.zlecenia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>zlecenia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.szacunkowy_koszt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.szacunkowy_koszt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.termin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kierownicy.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kierownicy.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgloszenia.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgloszenia.opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
