@model IEnumerable<firma_budowlana.Models.zlecenia>

<div>
    <div class="row">
        <h2 class="col-12 table-header">Tabela : <span class="table-name">zlecenia</span></h2>
    </div>

    <div class="row">
        <hr class="my-2 col-8 table-line">
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-dark table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        nr
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.etap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.postep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.szacunkowy_koszt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.termin)
                    </th>
                    <th>
                        Kierownik
                    </th>
                    <th class="table-operation">
                        Edytuj
                    </th>
                    <th class="table-operation">
                        Usuń
                    </th>
                </tr>
            </thead>
            @{ int row = 0; }

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td> @(row += 1)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.etap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.postep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.szacunkowy_koszt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.termin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kierownicy.dane_personalne.imie)
                        @Html.DisplayFor(modelItem => item.kierownicy.dane_personalne.nazwisko)
                    </td>
                    <td class="table-operation">
                        <a href="Tasks/Edit/@item.id">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td class="table-operation">
                        <a href="Tasks/Delete/@item.id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary btn-lg btn-block" href="Tasks/Create">Dodaj zlecenie</a>
</div>