@model firma_budowlana.Models.faktury

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>faktury</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rodzaj_platnosci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj_platnosci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.termin_platnosci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termin_platnosci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_wystawienia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_wystawienia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zlecenia.etap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zlecenia.etap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
